body {
    margin: 0;
}

@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}

#site {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer"
}

#library {
    grid-area: main;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 550px){
    #site {
    height: 100%;
    gap: 0px;
    grid-template-columns: 30vw auto;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
    }

    #library {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


#masthead {
    grid-area: header;
    background-color: blanchedalmond;
}


#sidebar {
    grid-area: sidebar;
    background-color: rgb(128, 128, 128);
}

#footer {
    grid-area: footer;
    background-color: aqua;
}

.book {
    background-color:blueviolet;
}

iframe {
    display: none;
}
